<div class="jumbotron">
  <h1 class="display-4"></h1>
  <%= link to: Routes.user_session_path(@conn, :new),
			class: "btn btn-primary" do %>
    <i class="fa fa-sign-in-alt"></i>ログイン
  <%end %>
</div>
