<div class="row">
  <div class="col-12 date-and-time">
    <div>
      <%= bootstrap_date_input @f, :"#{@prefix}_date" %>
    </div>
    <div>
      <%= select_for_hours @f, :"#{@prefix}_hour" %>:
      <%= select_for_minute @f, :"#{@prefix}_minute" %>
    </div>
    <%= error_tag @f, :"#{@prefix}_date" %>
    <%= error_tag @f, @field %>
  </div>
</div>
